@import "../../index.scss";

.tour{
    background-color: $contentgray;
    border-radius: 0.8rem;
    margin: 1rem 0;
    img{
        width: 100%;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        display: block;
    }
}
.image-container{
    position: relative;
}
.close-btn{
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    color: $mainorange;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s linear;
    opacity: 0;
}
.image-container:hover .close-btn{
    opacity: 1;
}
.image-info{
    height: auto;
    padding: 1.5rem 0.8rem;

    h3{
        color: $mainorange;
    }
    h4{
        text-transform: capitalize;
        color: $mainblack;
        margin: 0.2rem 0 0.6rem 0;
    }
    h5{
        text-transform: capitalize;
        span{
            color: $mainorange;
            margin: 0,5rem;
            cursor:pointer;
        }
    }
}