//defining variables 
$mainblack:#222;
$mainorange:#ffa600;
$mainwhite:#fff;
$maingray:#cecece;
$contentgray:#828282;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $maingray;
  font-family: 'Abyssinica SIL', serif;
}